---
- name: software | lazygit | install lazygit (Ubuntu/Debian)
  block:
    - name: software | lazygit | get latest release version
      tags: packages,software
      uri:
        url: https://api.github.com/repos/jesseduffield/lazygit/releases/latest
        return_content: yes
      register: lazygit_release

    - name: software | lazygit | download and install from GitHub
      tags: packages,software
      become: "{{ use_become }}"
      unarchive:
        src: "https://github.com/jesseduffield/lazygit/releases/download/{{ lazygit_release.json.tag_name }}/lazygit_{{ lazygit_release.json.tag_name | regex_replace('^v', '') }}_Linux_x86_64.tar.gz"
        dest: /usr/local/bin
        remote_src: yes
        mode: '0755'
        creates: /usr/local/bin/lazygit
  when: ansible_facts["os_family"] == "Debian"

- name: software | lazygit | install lazygit (Fedora/RHEL)
  block:
    - name: software | lazygit | add COPR repository
      tags: packages,software
      become: "{{ use_become }}"
      shell: dnf copr enable atim/lazygit -y
      args:
        creates: /etc/yum.repos.d/_copr:copr.fedorainfracloud.org:atim:lazygit.repo

    - name: software | lazygit | install lazygit
      tags: packages,software
      become: "{{ use_become }}"
      package:
        name: lazygit
        state: latest
  when: ansible_facts["os_family"] == "RedHat"

- name: software | lazygit | install lazygit (Arch Linux)
  block:
    - name: software | lazygit | install lazygit
      tags: packages,software
      become: "{{ use_become }}"
      community.general.pacman:
        name: lazygit
        state: latest
  when: ansible_facts["os_family"] == "Archlinux"