- name: users | check if primary user exists
  tags: users,system
  shell: getent passwd {{ primary_user }}
  register: primary_user_exists
  failed_when: false
  changed_when: false

- name: users | create primary user
  tags: users,system
  become: "{{ use_become }}"
  user:
    name: "{{ primary_user }}"
    groups: "adm,ansible,{{ 'sudo' if ansible_facts['os_family'] == 'Debian' else 'wheel' }}"
    append: yes
    state: present
    shell: /bin/zsh
    create_home: yes
  when: primary_user_exists.rc != 0

- name: users | ssh | add primary user ssh key
  tags: users,system
  become: "{{ use_become }}"
  authorized_key:
    user: "{{ primary_user }}"
    key: "{{ primary_user_ssh_key }}"
    manage_dir: yes

- import_tasks: software/packages.yml
- import_tasks: software/kitty.yml
- import_tasks: software/lazygit.yml
- import_tasks: fonts/installfonts.yml

- name: users | shell | ensure zsh is default for primary user
  tags: users,system
  become: "{{ use_become }}"
  user:
    name: "{{ primary_user }}"
    shell: /bin/zsh

- name: users | dotfiles | check if dotfiles folder exists
  tags: dotfiles,users
  stat:
    path: "{{ primary_user_home }}/dotfiles"
  register: dotfiles_folder

- name: users | dotfiles | clone rcmx dotfiles
  tags: dotfiles,users
  git:
    repo: https://github.com/rcmx/dotfiles
    dest: "{{ primary_user_home }}/dotfiles"
    update: yes
  become: "{{ use_become }}"
  become_user: "{{ primary_user }}"
  when: not dotfiles_folder.stat.exists
  # Only clone if dotfiles folder doesn't exist

- name: users | dotfiles | run install script
  tags: dotfiles,users
  command: "{{ primary_user_home }}/dotfiles/installLinux.sh"
  args:
    chdir: "{{ primary_user_home }}/dotfiles"
  become: "{{ use_become }}"
  become_user: "{{ primary_user }}"
  when: not dotfiles_folder.stat.exists
