- name: users | check if primary user exists
  tags: users,system
  shell: getent passwd {{ primary_user }}
  register: primary_user_exists
  failed_when: false
  changed_when: false

- name: users | create primary user
  tags: users,system
  user:
    name: "{{ primary_user }}"
    groups: "adm,ansible,{{ 'sudo' if ansible_facts['os_family'] == 'Debian' else 'wheel' }}"
    append: yes
    state: present
    shell: /bin/zsh
    create_home: yes
  when: primary_user_exists.rc != 0

- name: users | ssh | add primary user ssh key
  tags: users,system
  authorized_key:
    user: "{{ primary_user }}"
    key: "{{ primary_user_ssh_key }}"
    manage_dir: yes
  when: primary_user_exists.rc != 0

- import_tasks: software/packages.yml
- import_tasks: software/kitty.yml
- import_tasks: software/lazygit.yml
- import_tasks: fonts/installfonts.yml

- name: users | shell | ensure zsh is default for primary user
  tags: users,system
  user:
    name: "{{ primary_user }}"
    shell: /bin/zsh
  when: primary_user_exists.rc == 0

- name: users | dotfiles | clone rcmx dotfiles
  tags: dotfiles,users
  git:
    repo: https://github.com/rcmx/dotfiles
    dest: "{{ primary_user_home }}/dotfiles"
    update: yes
  become: true
  become_user: "{{ primary_user }}"
  # Keep dotfiles updated for the primary user

- name: users | dotfiles | run install script
  tags: dotfiles,users
  command: "{{ primary_user_home }}/dotfiles/installLinux.sh"
  args:
    chdir: "{{ primary_user_home }}/dotfiles"
  become: true
  become_user: "{{ primary_user }}"
