---
- name: software | lazygit | install lazygit (Ubuntu/Debian)
  tags: packages,software
  package:
    name: lazygit
    state: latest
  when: ansible_facts["os_family"] == "Debian"

- name: software | lazygit | install lazygit (Fedora/RHEL)
  block:
    - name: software | lazygit | add COPR repository
      tags: packages,software
      shell: dnf copr enable atim/lazygit -y
      args:
        creates: /etc/yum.repos.d/_copr:copr.fedorainfracloud.org:atim:lazygit.repo

    - name: software | lazygit | install lazygit
      tags: packages,software
      package:
        name: lazygit
        state: latest
  when: ansible_facts["os_family"] == "RedHat"

- name: software | lazygit | install lazygit (Arch Linux)
  block:
    - name: software | lazygit | install lazygit
      tags: packages,software
      community.general.pacman:
        name: lazygit
        state: latest
  when: ansible_facts["os_family"] == "Archlinux"