---

- name: users | create primary user
  tags: users,system
  user:
    name: "{{ primary_user }}"
    groups: "{{ 'sudo' if ansible_facts['os_family'] == 'Debian' else 'wheel' }}"
    append: yes
    state: present

- name: users | add primary user ssh key
  tags: users,system
  authorized_key:
    user: "{{ primary_user }}"
    key: "{{ primary_user_ssh_key }}"
    manage_dir: yes

- name: system setup | zsh | copy .zshrc
  tags: zsh,system,settings
  copy:
    src: system_setup/zshrc
    dest: "{{ primary_user_home }}/.zshrc"
    owner: "{{ primary_user }}"
    group: "{{ primary_user }}"
    mode: 0644

