---

- name: users | create primary user
  tags: users,system
  user:
    name: "{{ primary_user }}"
    groups: "{{ 'sudo' if ansible_facts['os_family'] == 'Debian' else 'wheel' }}"
    append: yes
    state: present

- name: users | add primary user ssh key
  tags: users,system
  authorized_key:
    user: "{{ primary_user }}"
    key: "{{ primary_user_ssh_key }}"
    manage_dir: yes
