- name: users | check if primary user exists
  tags: users,system
  shell: getent passwd {{ primary_user }}
  register: primary_user_exists
  failed_when: false
  changed_when: false

- name: users | create primary user
  tags: users,system
  user:
    name: "{{ primary_user }}"
    groups: "adm,ansible,{{ 'sudo' if ansible_facts['os_family'] == 'Debian' else 'wheel' }}"
    append: yes
    state: present
    shell: /bin/zsh
    create_home: yes
  when: primary_user_exists.rc != 0

- name: users | ssh | add primary user ssh key
  tags: users,system
  authorized_key:
    user: "{{ primary_user }}"
    key: "{{ primary_user_ssh_key }}"
    manage_dir: yes
  when: primary_user_exists.rc != 0

#- name: users | sudo | copy sudoers_velez
#  copy:
#    src: users/sudoers_velez
#    dest: /etc/sudoers.d/velez
#    owner: root
#    group: root
#    mode: 0440

# configure software
- name: users | tmux | copy tmux.conf
  tags: settings,dotfiles
  copy:
    src: system_setup/tmux.conf
    dest: "{{ primary_user_home }}/.tmux.conf"
    owner: "{{ primary_user }}"
    group: "{{ primary_user }}"
    mode: 0644


- name: users | vim | copy .vimrc
  tags: settings,dotfiles
  copy:
    src: system_setup/vimrc
    dest: "{{ primary_user_home }}/.vimrc"
    owner: "{{ primary_user }}"
    group: "{{ primary_user }}"
    mode: 0644

- name: users | zsh | copy .zshrc
  tags: settings,dotfiles,zsh
  copy:
    src: system_setup/zshrc
    dest: "{{ primary_user_home }}/.zshrc"
    owner: "{{ primary_user }}"
    group: "{{ primary_user }}"
    mode: 0644

- name: users | wezterm | copy wezterm.lua
  tags: settings,dotfiles,wezterm
  copy:
    src: system_setup/wezterm.lua
    dest: "{{ primary_user_home }}/.wezterm.lua"
    owner: "{{ primary_user }}"
    group: "{{ primary_user }}"
    mode: 0644

