- block:
  - name: system setup | utilities | add universe repository
    tags: packages,system
    apt_repository:
      repo: "deb http://us.archive.ubuntu.com/ubuntu/ {{ ansible_distribution_release }} universe"
      state: present
  when: ansible_distribution == 'Ubuntu'

- name: system setup | utilities | install utility packages (Ubuntu/Debian)
  tags: packages,system,settings
  package:
    state: present
    name:
      - htop
      - mc
      - tmux
      - wget
      - zsh
      - git
      - luarocks
      - ripgrep
      - gcc
      - build-essential
      - fzf
  when: ansible_facts["os_family"] == "Debian"

- name: system setup | utilities | install utility packages (Fedora/RHEL)
  tags: packages,system,settings
  package:
    state: present
    name:
      - htop
      - mc
      - tmux
      - wget
      - zsh
      - git
      - luarocks
      - ripgrep
      - gcc
      - "@development-tools"
      - fzf
  when: ansible_facts["os_family"] == "RedHat"

- name: system setup | utilities | install utility packages (Arch Linux)
  tags: packages,system,settings
  community.general.pacman:
    state: present
    name:
      - htop
      - mc
      - tmux
      - wget
      - zsh
      - git
      - luarocks
      - ripgrep
      - gcc
      - base-devel
      - fzf
  when: ansible_facts["os_family"] == "Archlinux"

