- block:
  - name: system setup | wezterm | add wezterm apt repository key
    tags: packages,system,wezterm
    ansible.builtin.get_url:
      url: https://apt.fury.io/wez/gpg.key
      dest: /tmp/wezterm-fury.gpg.key
      mode: '0644'

  - name: system setup | wezterm | import wezterm apt repository key
    tags: packages,system,wezterm
    ansible.builtin.apt_key:
      file: /tmp/wezterm-fury.gpg.key
      keyring: /usr/share/keyrings/wezterm-fury.gpg
      state: present

  - name: system setup | wezterm | add wezterm apt repository
    tags: packages,system,wezterm
    apt_repository:
      repo: "deb [signed-by=/usr/share/keyrings/wezterm-fury.gpg] https://apt.fury.io/wez/ * *"
      state: present
      filename: wezterm
      update_cache: yes

  - name: system setup | wezterm | install wezterm (Ubuntu/Debian)
    tags: packages,system,wezterm
    package:
      state: latest
      name:
        - wezterm
  when: ansible_facts["os_family"] == "Debian" and not is_wsl

- block:
  - name: system setup | wezterm | install wezterm via RPM (Fedora/RHEL)
    tags: packages,system,wezterm
    dnf:
      name: https://github.com/wezterm/wezterm/releases/download/20240203-110809-5046fc22/wezterm-20240203_110809_5046fc22-1.fedora39.x86_64.rpm
      state: present
      disable_gpg_check: yes
  when: ansible_facts["os_family"] == "RedHat" and not is_wsl

- block:
  - name: system setup | wezterm | install wezterm (Arch Linux)
    tags: packages,system,wezterm
    community.general.pacman:
      name: wezterm
      state: latest
  when: ansible_facts["os_family"] == "Archlinux" and not is_wsl

- name: system setup | wezterm | skip wezterm installation on WSL
  tags: packages,system,wezterm
  debug:
    msg: "Skipping WezTerm installation on WSL - terminal emulator not needed in WSL environment"
  when: is_wsl

